.team-display-panel {
    --team-display-panel-height: auto;
    --team-display-margin: 2px 0;

    --team-display-desc-font-size: 14px;
    --team-display-name-font-size: 20px;
}


.team-display-panel {
    margin: var(--team-display-margin);
    width: 100%;
    height: var(--team-display-panel-height);
    
    background-color: var(--panel-background-color-4);

    border-radius: var(--default-border-radius-small);
}

.team-name {
    ont-size: var(--team-display-name-font-size);
    border-bottom: solid var(--panel-background-color-2) 2px;
}

.team-desc {
    font-size: var(--team-display-desc-font-size);
}