:root {
  --panel-background-color: #2a2a2a;
  --panel-background-color-1: #212121;
  --panel-background-color-2: #1a1a1a;
  --panel-background-color-3: #151515;
  --panel-border-radius: 8px;

  --default-border-radius: 8px;
  --default-border-radius-small: 4px;

  --default-transition-duration: 0.2s;

  --main-panel-width: 650px;
  --main-panel-height: 700px;

  --neon-color-1: #9a2fa9;

  --shadow-color: #0c0c0c;

  --input-height: 25px;
  --input-font-size: 20px;

  --default-font-color: white;
  --error-font-color: red;

}

* {
  color: var(--default-font-color);
}

.error-message {
  color: var(--error-font-color);
}

.loading-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color:  #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}