:root {
  --panel-background-color: #2a2a2a;
  --panel-background-color-1: #212121;
  --panel-background-color-2: #1a1a1a;
  --panel-background-color-3: #0a0a0a;
  --panel-border-radius: 8px;

  --default-border-radius: 8px;
  --default-border-radius-small: 4px;

  --main-panel-width: 650px;
  --main-panel-height: 700px;

  --shadow-neon-color: #9a2fa9;
  --shadow-color: #0c0c0c;

  --input-height: 25px;
  --input-font-size: 20px;
  --default-font-color: white;

  --button-font-size: 25px;
  --button-padding: 10px 20px;
}

* {
  color: var(--default-font-color);
}

.input-field {
  height: var(--input-height);

  border-radius: var(--default-border-radius-small);
  background-color: var(--panel-background-color-2);
  border: none;
  padding: 6px 8px 4px 8px;
  margin: 5px;

  font-family: Bahnschrift;
  font-size: var(--input-font-size);
}

.input-field:focus  {
  box-shadow: inset 0px 0px 12px 0px var(--shadow-color);
  /*box-shadow: 0 0 24px 0 var(--shadow-color);*/

  outline: none;
}


.input-group {
  display: flex;

  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.input-group > * {
  margin: 3px 7px;
}

.button {
  border-radius: var(--default-border-radius);
  background-color: var(--panel-background-color-1);
  border: var(--panel-background-color-2) outset;

  padding: var(--button-padding);

  font-size: var(--button-font-size);

  cursor: pointer;
}
.button:hover {
  background-color: var(--panel-background-color-2);
}
.button:active {
  background-color: var(--panel-background-color-3);
  border: var(--panel-background-color-1) solid;
}
.button:focus {
  background-color: var(--panel-background-color-2);
  /*box-shadow: 0 0 24px 0 var(--shadow-neon-color);*/
  outline: none;
}

.App {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
