.button {
    border-radius: var(--default-border-radius);
    background-color: var(--panel-background-color-1);
    border: var(--panel-background-color-2) outset;

    padding: var(--button-padding);

    font-size: var(--button-font-size);

    cursor: pointer;

    transition:
        border-color     var(--default-transition-duration),
        background-color var(--default-transition-duration);
}
.button:hover {
    background-color: var(--panel-background-color-2);
}
.button:active {
    background-color: var(--panel-background-color-3);
    border: var(--panel-background-color-1) solid;
}
.button:focus {
    background-color: var(--panel-background-color-2);
    outline: none;
}