:root {
    --input-inside-border-width: 4px
}

.input-field {
    height: var(--input-height);

    border-radius: var(--default-border-radius-small);
    background-color: var(--panel-background-color-2);
    border: none;
    padding: 6px 8px 4px 8px;
    margin: 5px;

    font-family: Bahnschrift, Calibri, "Lucida Console", "Courier New", monospace, -apple-system, sans-serif;
    font-size: var(--input-font-size);

    transition: background-color var(--default-transition-duration);
}
.input-field:focus  {
    outline: none;
    /* box-shadow:0px 0px 0px var(--input-inside-border-width) var(--panel-background-color-3) inset;*/
    background-color: var(--panel-background-color-3);
}
.input-group {
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.input-group > * {
    margin: 3px 7px;
}


.auth-panel {
    height: var(--register-panel-height);
    width: var(--register-panel-width);

    margin: var(--register-panel-form-margin);

    border-radius: var(--panel-border-radius);
    background-color: var(--panel-background-color);

    /*box-shadow: 0 0 24px 0 var(--shadow-neon-color);*/
    border: var(--panel-background-color-1) solid;
    overflow: hidden;

    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.auth-panel-form {
    height: var(--register-inner-panel-height);
    width: var(--register-inner-panel-width);


    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.auth-panel-form > .button {
    margin-top: 20px;
}