:root{
    --register-panel-width: 500px;
    --register-panel-height: 500px;

    --register-panel-form-margin: 20px 0 0 0;

    --register-inner-panel-width: 500px;
    --register-inner-panel-height: 250px;
}

.register-panel-result {
    height: 100px;
}

h1 {
    text-shadow: 4px 4px 6px #000000;
}

